<launch>
	<arg name="topic" default="/kinect2/qhd/points"/>
	<arg name="rate" default="2"/>
	<include file="$(find pcl_tracker)/launch/fake_demo.launch">
		<arg name="topic" value="$(arg topic)"/>
		<arg name="rate" value="$(arg rate)"/>
	</include>
	<include file="$(find move_ur5_qt)/launch/move_ur5_qt.launch"/>
	<include file="$(find cnn_hgr)/launch/HGR.launch"/>
</launch>
